.category-card {
  border: #61dafb 1px solid;
  white-space: pre-wrap;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.delete-icon {
  position: absolute;
  font-size: 1rem;
  top: -5px;
  right: -5px
}
